// @import "./abstracts/functions";
@import "./abstracts/variables";
@import "./base/root";
@import "./base/fonts";
@import "./base/reset";
@import "./base/base";
@import "./utils/colors";
@import "./components/index";

$primary-500: #EA6C00;
$primary-400: #FF963C;
$primary-300-400: linear-gradient(180deg, #FFCC21 0%, #FF963C 100%);
$primary-300: #FFCC21;
$secondary: #8FE9D0;
$dark-600: #2E2E2E;
$dark-500: #414141;
$dark-400: #777777;
$white: #fff;
$white-300: #F2F2F2;

.loading {
    display: flex;
    justify-content: center;
    align-items: center;

    .dot {
        width: 8px;
        height: 8px;
        margin: 0 4px;
        background-color: #CCCCCC;
        border-radius: 50%;
        animation: opacityChange 1.5s infinite;
    }

    .dot:nth-child(1) {
        animation-delay: 0s;
    }

    .dot:nth-child(2) {
        animation-delay: 0.5s;
    }

    .dot:nth-child(3) {
        animation-delay: 1s;
    }

    @keyframes opacityChange {
        0% {
            opacity: 1;
        }

        25% {
            opacity: 0.4;
        }

        50% {
            opacity: 0.2;
        }

        75% {
            opacity: 0.4;
        }

        100% {
            opacity: 1;
        }
    }
}

html,
body {
    height: 100%;
    background: $dark-500;
}

img {
    max-width: 100%;
    height: auto;
}

button,
.btn {
    cursor: pointer;
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 960px;
    }
}

.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.app-container {
    font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0px;
    text-align: left;
    background: $white-300;
    color: $dark-500;
}

.main {
    min-height: calc(100vh - 200px);
}

.header,
.footer {
    background: $dark-500;

    .nav-item {
        color: $white;

        &.active,
        &:hover {
            color: $primary-400;
        }
    }
}

.navbar-nav {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}

.footer {
    padding: 45px 15px;

    .nav-item {
        margin-right: 40px;
    }
}

.header {
    .navbar-nav {
        padding-right: 0;
    }

    .nav-item {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0;

        &:not(.logo) {
            margin-left: 50px;
        }

        &:not(.logo) svg {
            margin-right: 5px;
            height: 30px;
        }

        .count {
            height: 16px;
            width: 16px;
            border-radius: 50%;
            overflow: hidden;
            background: $primary-500;
            color: $white;
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 20px;
            top: -2px;
        }
    }

    .menu {
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 9;
        background: $dark-400;
        width: 280px;

        .navbar-nav {
            flex-wrap: wrap;
        }

        .nav-item {
            border-bottom: 1px solid rgba($color: $white, $alpha: 0.15);
            width: 100%;
            margin: 0;
            padding: 10px 15px;
        }
    }
}

.hexagon {
    width: 116px;
    height: 134px;
    background: $primary-300-400;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1;
    text-align: center;
    font-size: 20px;
    cursor: pointer;

    svg {
        height: 45px;
    }

    color: $white;
}

.home {
    padding-bottom: 60px;

    .section-1 {
        display: flex;

        .section-left {
            height: 312px;
            position: relative;
            max-width: 540px;

            img {
                width: 100%;
                height: auto;
            }

            .content {
                position: absolute;
                width: 181px;
                height: 181px;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
            }
        }

        .section-right {
            padding: 10px 15px 15px 30px;
            flex: 1;
            height: 312px;
            width: 100%;
            background: $dark-600;
            display: flex;
            align-items: flex-end;

            canvas {
                max-width: 100%;
            }
        }
    }

    .section-2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 25px 0;
        max-width: 800px;
        flex-wrap: wrap;

    }
}

.records {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .record {
        display: flex;
        position: relative;
        padding: 0 4px;
        margin-bottom: 8px;
        width: 25%;

        .content {
            position: absolute;
            left: 4px;
            bottom: 0;
            background: $primary-300;
            color: $white;
            padding: 6px 8px;
            font-size: 15px;
        }
    }
}

.load-more {
    width: 100%;
    margin-top: 22px;
    text-align: center;

    &.loading {
        .btn-load-more {
            cursor: default;
            pointer-events: none;
        }
    }

    .btn-load-more {
        background: $primary-300-400;
        color: $white;
        padding: 14px 20px;
        width: 296px;
        max-width: 100%;
        font-size: 18px;
        border-radius: 3px;
        border: 0;
    }
}

.btn-back-to-top {
    position: fixed;
    right: 15px;
    top: 45%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}


.circle {
    position: relative;
    color: #fff;

    svg {
        transform: rotatey(180deg);
    }

    &-text {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        font-size: 18px;

        .percent {
            font-size: 25px;
            padding-left: 2px;
        }
    }
}

.record {
    padding-bottom: 55px;

    .section-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 55px;
        margin-top: 55px;
        flex-wrap: wrap;
    }

    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        aspect-ratio: 1 / 1;
        flex-wrap: wrap;
        border: solid 20px $primary-300;
        background-repeat: no-repeat;
        background-image: url('../images/MyRecommend-1.png');
        background-color: rgba(0, 0, 0, 0.8);
        background-size: 100%;
        background-position: center center;
        transition: all 300ms ease;
        cursor: pointer;

        &:hover {
            background-size: 110%;
        }

        &:nth-child(2) {
            background-image: url('../images/MyRecommend-2.png');
        }

        &:nth-child(3) {
            background-image: url('../images/MyRecommend-3.png');
        }

        h3 {
            font-size: 25px;
            font-weight: normal;
        }

        >div {
            text-align: center;
            color: $primary-300;

            >div {
                display: block;
                font-size: 14px;
                padding: 3px 10px;
                color: $white;
                background: $primary-400;
                text-decoration: none;
            }
        }
    }

    .section-2 {
        background: $dark-500;
        padding: 15px 25px;
        margin-bottom: 55px;
    }

    .section-3 {
        background: $dark-500;
        padding: 15px 25px;
        margin-bottom: 55px;
        color: $white;
    }

    .section-4 {
        h3 {
            font-size: 22px;
            font-weight: normal;
        }
    }
}

.section-title {
    color: $white;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-left: 0;

    span+span {
        font-size: 22px;
        padding-left: 25px;
    }
}

.chart-types {
    display: flex;
    align-items: center;
    margin-top: 5px;

    button {
        background: $white;
        min-width: 56px;
        padding: 2px 10px;
        color: $primary-300;
        margin-right: 15px;
        border: 0;
        border-radius: 15px;

        &.active,
        &:hover {
            color: $white;
            background: $primary-300;
        }
    }
}

.exercies {
    display: flex;
    flex-wrap: wrap;
    margin: 5px -15px;
    max-height: 186px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0;
    list-style: none;

    .exercie {
        width: 50%;
        padding: 2px 15px 2px;
        list-style: none;
        margin-bottom: 3px;

        >div {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            border-bottom: solid 1px $dark-400;
            font-size: 15px;
            position: relative;
            padding-left: 18px;

            &::before {
                display: block;
                content: '';
                width: 5px;
                height: 5px;
                background: $white;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .kcal {
            color: $primary-300;
        }

        .time {
            margin-left: auto;
            color: $primary-300;
            font-size: 18px;
        }
    }
}


.diaries {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    margin: 0 -15px;

    .diarie {
        display: flex;
        position: relative;
        padding: 0 5px;
        margin-bottom: 12px;
        width: 25%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        text-overflow: clip;

        >div {
            padding: 15px;
            border: 2px solid $dark-400;
            width: 100%;
        }

        h5 {
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 12px;
        }

        .content {
            height: calc(100% - 25px);
            display: -webkit-box;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            font-size: 12px;
            line-height: 1.35;
        }
    }
}


.column {
    padding: 55px 0;

    .section-1 {
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
        margin: 0 -16px;
        margin-bottom: 55px;
        flex-wrap: wrap;
    }

    .banner {
        display: flex;
        position: relative;
        padding: 0 16px;
        width: 25%;

        @media (max-width: 768px) {
            margin-bottom: 15px;
        }

        >div {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $dark-600;
            flex-wrap: wrap;
            text-align: center;
            padding: 24px 15px;
            width: 100%;

            hr {
                height: 1px;
                width: 56px;
                color: $white;
                margin: 0 auto;
            }

            h3 {
                color: $primary-300;
                font-size: 22px;
                font-weight: normal;
                width: 100%;
            }

            a {
                font-size: 18px;
                display: block;
                margin-top: 8px;
                width: 100%;
                color: $white;
                text-decoration: none;
            }
        }
    }
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
    font-size: 15px;

    .blog {
        display: flex;
        position: relative;
        padding: 0 4px;
        margin-bottom: 15px;
        width: 25%;

        .content {
            padding-top: 5px;

            .title {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                height: 38px;
                cursor: pointer;
                text-decoration: none;
                color: $dark-400;
            }

            .tags>a {
                font-size: 12px;
                color: $primary-400;
                display: inline-block;
                margin-right: 10px;
                margin-top: 6px;
                cursor: pointer;
            }
        }

        .image {
            position: relative;
            margin: 0 auto;
            width: fit-content;

            .time {
                position: absolute;
                left: 0;
                bottom: 0;
                background: $primary-300;
                color: $white;
                padding: 5px 8px;
                font-size: 15px;
            }
        }
    }
}


@media (max-width: 768px) {
    .header {
        >.navbar-nav>.nav-link {
            display: none;
        }

        .btn-menu {
            margin-left: auto !important;
        }
    }

    .home .section-1 {
        display: block;
    }

    .home .section-1 .section-left,
    .home .section-1 .section-right,
    .records .record,
    .exercies .exercie,
    .diaries .diarie,
    .column .banner,
    .blogs .blog,
    .record .banner {
        width: 100%;
        max-width: none;
    }

    .footer .nav-item {
        display: block;
        width: 100%;
    }

    .diaries .diarie {
        aspect-ratio: auto;
    }
}